html {
	background: f8f9fd;
}

body {
  width: 80%;
  max-width: 1024px;
  margin: 50px auto;
  padding: 2.2em;
  font-family: sans-serif;
  background: #fff;
  color: #3e4852;
  box-shadow: rgba(72, 29, 99, 0.3) 0px 10px 25px -10px;
  border-radius: 10px;
}

p {
	text-align: justify;
}

img {
	margin-top: 30px;
}

div, p, strong {
	color: #3e4852;
}
